* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

.game-container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 352px;
    height: 198px;
    outline: 1px solid white;
}

.game-canvas {
    

}
